{% extends "base.html" %} 
{% load bootstrap4 %}

{% block head %}
<link rel="stylesheet" href="../../../static/style.css" />
{% endblock %}

{% block contents %} 
<div class="container mt-3 mx-3">
  <h4>비밀번호 수정</h4>
  <div class="row mt-5">
    <div class="col-12">
      <form method="post">
        {% csrf_token %}
        <div class="col-mb-6">
            <label for="password">비밀번호 변경</label>
        </div>
        <div class="col-md-6">
        <label for="password">기존 비밀번호</label>
        <input class="form-control" name="oldpassword" id="oldpassword" type="password">
        <label for="password">신규 비밀번호</label>
        <input class="form-control" name="password1" id="password1" type="password">
        <label for="password">신규 비밀번호 확인</label>
        <input class="form-control" name="password2" id="password2" type="password">
        <div class=""><button type="submit" class="btn btn-primary"  >비밀번호 변경</button></div>
        </div>
        </form>
      <button class="btn btn-primary mt-3" onclick="javascript:history.go(-1);">돌아가기</button>
    </div>
  </div>
</div>

{% if password_reg == 'failed1' %}
    <script>
        alert('기존 비밀번호와 일치하지않습니다.')
        history.go(-1);
    </script>
{% elif password_reg == 'failed2' %}
    <script>
        alert('새 비밀번호가 기존 비밀번호와 일치합니다')
        history.go(-1);
    </script>
{% elif password_reg == 'failed3' %}
    <script>
        alert('새 비밀번호가 일치하지 않습니다.')
        history.go(-1);
    </script>
{% elif password_reg == 'failed4' %}
    <script>
        alert('비밀번호는 8자 이상입니다.')
        history.go(-1);
    </script>
{% endif %}
{% endblock %} 

{% block script %}
<script src="../../../static/script.js"></script>
{% endblock %}